
.movieContainer {
  margin: 80px auto;
}

.movieImage {
  width: 100px;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}
body {
  background: white;
  height: 100vh;
  margin: 0;

  font-family: 'Poppins', sans-serif;
  font-size: 100%;
}

.active {
  color: #f15e75;
  font-weight: bold;
}

.page-wrap {
  background: white;
  height: calc(100vh - 10px);
  box-shadow: 0 0 3px rgba(black, 0.33);

  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 1px;
}

.page-wrap * {
  padding: 1rem;
}

.page-header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(107, 177, 224);
}

form {
  width:50%;
}

input {
  width: calc(100% - 100px);
}

.page-sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.page-sidebar p {
  margin: 5px 0;
  padding: 0 1rem;
  cursor: pointer;
}

.page-sidebar p:hover {
  color: #f15e75;
}

.page-sidebar p > a {
  padding: 0;
}

.page-sidebar > h1 {
  margin: 0;
  padding: 0 0 1rem 0;
}

.page-nav {
  grid-column: 2 / 3;
  border-bottom: 1px solid black;
}

.page-nav a:hover {
  cursor: pointer;
  color: #f15e75;
}

.page-main {
  grid-column: 2 / 3;
}

.page-main * {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.page-main > h1 {
  padding-left: 1rem;
}

.page-main img {
  width: 20%;
  padding: 1rem;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.pagination {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  margin: 0 1rem;
}

.page-footer {
  grid-column: 1 / -1;
  border-top: 1px solid black;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer * {
  padding: 0;
}

@media (max-width: 600px) {
  .page-wrap{
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }

  .page-wrap * {
    grid-column: 1 / -1 !important;
    grid-row: auto !important;
  }

  .page-header {
    flex-direction: column;
  }

  form {
    width: 100%;
  }

  .page-main img {
    width: 50%;
  }

  .page-sidebar {
    text-align: center;
  }

  .page-footer {
    flex-direction: column;
  }
}