* {
    font-family: 'Poppins', sans-serif;
}

a, p, button, label, input {
    font-size: 16px;
}

.root {
    width: 80%;
    margin: 100px auto;
}

header {
    text-align: center;
}

.inputBar {
    border: 1px solid black;
    width: 400px;
    height: 50px;
    padding: 2px;
    padding-left: 10px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

input {
    width: 100%;
    height: 100%;
    border: none;
}

input:focus {
    outline: none;
}

#searchButton {
    cursor: pointer;
    padding-right: 15px;
}

.movieContainer {
    margin: 80px auto;
}

.movieImage {
    width: 100px;
}